html {
  scroll-behavior: smooth;
}

.main-body {
  overflow-x: hidden;
}

.cloud-bg-image{
  background-image: url("/public/images/backgrounds/background-sky.jpg");
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  width: 100vw;
  min-height: 8vw;
  background: linear-gradient(90deg,#5170ff 0%, rgba(81, 90, 196, 1) 100%);
  display: flex;
  align-items : center;
  justify-content: center;
  font-family:'JetBrains Mono';
  text-align: center;
  font-size: 1vw;
}
@media (max-width: 500px) {
  footer {
    font-size: 2vw;
  }
}

  /* background-size: cover;
  background-color: linear-gradient(90deg,#5170ff 0%, rgba(81, 90, 196, 1) 100%); */
 
    /* url("/public/images/compositions/cloud-trans-left.png"), 
    url("/public/images/compositions/cloud-trans-right.png"),  */
  /* background-attachment: fixed, fixed, fixed; */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat, no-repeat, no-repeat; */
  /* background-repeat: no-repeat; */
  /* background-position:
    top 70px left -110px,
    bottom right -75px,
    right; */
  /* background-size: 20vw, 15vw, 100vw; */
  /* background-size: 100vw;
  position: relative; */
