// Global variables
$left-travel-distance: 14vw;
$right-travel-distance: 13vw;


.shared-bg { 
    background-size: cover;
    background: linear-gradient(90deg,#5170ff 0%, rgba(81, 90, 196, 1) 100%);
    // background-color: linear-gradient(90deg,#5170ff 0%, rgba(81, 90, 196, 1) 100%);

      /* url("/public/images/compositions/cloud-trans-left.png"), 
      url("/public/images/compositions/cloud-trans-right.png"),  */
    /* background-attachment: fixed, fixed, fixed; */
    background-attachment: fixed;
    /* background-repeat: no-repeat, no-repeat, no-repeat; */
    background-repeat: no-repeat;
    /* background-position:
      top 70px left -110px,
      bottom right -75px,
      right; */
    /* background-size: 20vw, 15vw, 100vw; */
    
    // background-size: 100vw;
    position: relative;
  }

  .cloud {
    position: absolute;
    will-change: filter;
    filter: drop-shadow(0px 12px 28px rgba(0, 0, 0, 0.534)); /* shadow */
    pointer-events: none;
    opacity: 0;
    // SCSS Vars
    $travel-distance: 200px;

    // CSS Vars
    --top-distance: auto;
    --bottom-distance: auto;
    --left-distance: auto;
    --right-distance: auto;
    --width: auto;
    --animation: auto;

    top: var(--top-distance);
    bottom: var(--bottom-distance);
    left: var(--left-distance);
    right: var(--right-distance);
    width: var(--width);
    animation: var(--animation);

    // Left upper
    &:nth-child(1){
      --top-distance: 7vw;
      // --left-distance: -300px; // final-distance: -110 px -290px 
      --left-distance: -20vw;
      --width: 20vw;
    }


    // Left bottom
    &:nth-child(2) {
      --bottom-distance: 4vw;
      --left-distance: -20vw; //final distance // -290 px constant
      --width: 15vw;
    }

    // Right upper
    &:nth-child(3) {
      --top-distance: 7vw;
      --right-distance: -18vw; // -95 px - 235 px constant
      // --right-distance: -95px;
      --width: 18vw;
    }

    // Right bottom
    &:nth-child(4) {
      --bottom-distance: 4vw;
      --right-distance: -16vw; // -70 px - 235 px constant
      --width: 13vw;
    }
}

.section-divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
  width: 50vw;
}

.section {
  display: block;
  justify-content: center;
  align-items: center;     
  height: auto; 
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

hr {
  color: #ffffff;
  margin: 0;
}

.rollout-animation-left {

  animation: from-left 1s;
  animation-fill-mode: forwards;


  @keyframes from-left {
    from { 
      transform: translateX(0);
      opacity: 0; 
    }
    to  { 
      transform: translateX($left-travel-distance); 
      opacity: 1;
    }
  }
}


.rollout-animation-right {

  animation: from-right 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;

  @keyframes from-right {
    from { 
      transform: translateX(0);
      opacity: 0;  
    }
    to  { 
      transform: translateX(-$right-travel-distance);
      opacity: 1;   
    }
  }
}

.rollback-animation-left {

  animation: to-left  1s;
  animation-fill-mode: forwards;
  // animation-delay: 0.3s;

  @keyframes to-left {
    from { 
      transform: translateX($left-travel-distance); 
      opacity: 1;
    }
    to { 
      transform: translateX(0);
      opacity: 0; 
    }
  }
}

.rollback-animation-right {

  animation: to-right 1s;
  animation-fill-mode: forwards;


  @keyframes to-right {
    from { 
      transform: translateX(-$right-travel-distance); 
      opacity: 1;
    }
    to   { 
      transform: translateX(0); 
      opacity: 0;
    }
  }
}