.head-text {
    font-family:'Montserrat', sans-serif;
    color: rgba(255,255,255);
    text-shadow: 0 0 1.5px;
}

.head-name {
    margin-bottom: 10px;
}

/* .section-head {
    background-image: url("../../../images/background-sky.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
} */

.section-head .container-head {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin-left: 650px;
}

/* CSS for Terminal */
.terminal {
    border-radius: 5px 5px 0 0;
    padding: 0px;
    margin-top: 10px;
    margin-left: 12px;
    width: 400px;
}

.terminal .top {
    background: #E8E6E8 !important;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
.terminal .btns {
    position: absolute;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}
.title{
    text-align: center;
}
.red { background: #EC6A5F; border-color: #D04E42; }
.green { background: #64CC57; border-color: #4EA73B; }
.yellow{ background: #F5C04F; border-color: #D6A13D; }
.clear{clear: both;}
.terminal .terminal-body {
    background: black !important;
    color: #7AFB4C;
    padding: 8px;
    overflow: auto;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    align-items: center;
}
.space {
    /* margin: 25px; */
}
.terminal-shadow {
     box-shadow: 0px 0px 10px rgb(0, 0, 0)
}