.work-container {
    max-width: 70vw;
    font-family:'JetBrains Mono';
    color: white;
    margin: auto;
}

.work-header {
    text-align: center;  
    margin-top: 5%;
}

.work-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.work-frame {
    min-width: 50vw;
    min-height: 50vh;
    max-width:70%;
    /* background-color: transparent; */
    background-color: #5170fc;
    border: 2px solid white;
    border-radius: 10px;
    transition: scale  0.3s ease, opacity 0.3s ease;
}

.work-frame-img {
   width: 12%; 
   margin-right: 1%;
   margin-left: 0.5%
}

.work-frame-header {
    display: flex;
    align-items: center;
    padding-top: 1%;
    position: relative;
    width: 100%;
}

.work-frame-location-date {
    display: flex;
    align-items: center;
    margin-right: 5%;
    min-width: 10%;
}

.work-frame-icon {
    width: 1.5vw;
}

.work-frame-body {
    margin-top: 1vh; 
    min-height: 38vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* flex-direction: c; */
}

.tech-item {
    padding: 0.25em;
    /* min-width: 20%;
    max-width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 10%; */
    /* max-width: 30%; */
    border-style:solid;
    border-radius: 5px;
    border-color: rgb(223, 222, 222);
    margin-left: 0.5vh;
    margin-right: 0.5vh;  
    margin-top: 0.5vh;
    margin-bottom: 0.5vh; 
    /* font-size: 0.9vw; */
}

.tech-item:hover {
    text-shadow: 0 0 1px rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255);
    cursor: default;
}

@media (max-width: 500px) {
    .tech-item {
        font-size: 8px;
    }
}