.skills-box {
    width: 100%;
    height: 95%;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: white;
    margin-top: 1%;
}

.skills-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.skill {
    padding: 0.25em;
    /* min-width: 20%;
    max-width: 50%; */
    width: 30%;
    border-style:solid;
    border-radius: 5px;
    border-color: rgb(223, 222, 222);
    text-align: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.skill:hover {
    text-shadow: 0 0 1px rgb(255, 255, 255);
    box-shadow: 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255);
    cursor: default;
}

.terminal-pic {
    width: 35px;
}

.skills-header {
    margin: 0px;
    margin-left: 2px;
}

@media (max-width: 500px) {
    .personal-photo  {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .skill {
        font-size: 10px;
    }
}